.card-category.design {
  display: block;
  text-align: center;
  ligne-height: 200px;
}

.card-category.design {
  background: red;
}

.card-category.tech {
  background: green;
}

.card-category.education {
  background: blue;
}
