<h1>all products</h1>
  <%= link_to "revenir a l'acceuil", root_path %>
  <%= link_to "add new", new_product_path %>
<ul>
  <%= @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
    </li>
  <% end %>
</ul>

<h2>dd</h2>
