<div class="container">
  <div class="row">
    <div class ="col-xs-12.col-sm-6.col-sm-offset-3">
      <h1 class="text-center">Add a product</h1>

      <%= simple_form_for @product do |f| %>
        <%= f.input :name, placeholder: "write name", label: "which name" %>
        <%= f.input :url, placeholder: "write url", label: "which url" %>
        <%= f.button :submit, "ajouter", class: "btn btn-primary" %>
      <% end%>
    </div>
  </div>
</div>
